<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="default">
<head>
    <title>Edit Product</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/product" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
        </h3>
        <h2>Edit Product</h2>
        <form action="#" th:action="@{/update}" th:object="${productForm}" method="post">
            <div class="form-group">
                <label for="prodId">Product code:</label>
                <input type="text" class="form-control" id="prodId" name="prodId" th:value="${productForm.prodId}"
                       readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="prodName">Product Name:</label>
                <input type="text" class="form-control" id="prodName" name="prodName"
                       th:value="${productForm.prodName}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('prodName')}" th:errors="*{prodName}">Name
                    Error
                </div>
            </div>
            <div class="form-group">
                <label for="prodDesc">Product Description</label>
                <textarea class="form-control" id="prodDesc" name="prodDesc" cols="60" rows="3"
                          th:text="${productForm.prodDesc}"></textarea>
            </div>
            <div class="form-group">
                <label for="prodPrice">Product Price</label>
                <input type="number" class="form-control" id="prodPrice" name="prodPrice" value="0" step=".01"
                       th:value="${productForm.prodPrice}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('prodPrice')}" th:errors="*{prodPrice}">
                    Price Error
                </div>
            </div>
            <div class="form-group">
                <label for="prodImage">Product Image URL:</label>
                <input type="url" class="form-control" id="prodImage" name="prodImage"
                       th:value="${productForm.prodImage}"/>
            </div>
            <input type="hidden" name="id" th:value="${productForm.id}"/>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>